DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" >/dev/null 2>&1 && pwd )"

VM_NAME="ubuntu-server"
MEMORY=4096
CPU_COUNT=2
DISK_SIZE=35000
DISK_LOCATION=$(readlink -f $DIR/../artifacts/disk.vdi)

ISO_PATH=$(realpath $DIR/../artifacts/ubuntu-24.04.2-live-server-amd64.iso)
SEED_ISO_PATH=$(realpath $DIR/../artifacts/seed.iso)

# MUST MATCH WITH autoinstall-values.yaml: identity.username
REMOTE_USER="ubuntu"
# MUST MATCH WITH THE PASSWORD THAT ORIGINATED autoinstall-values.yaml: identity.passwd_sha512
REMOTE_USER_PASSWD="ubuntu"

SSH_FORWARDED_PORT=2222
# MUST FORM A PAIR WITH A PUBLIC KEY IN autoinstall-values.yaml: ssh_keys
SSH_HOST_PRIVATE_KEY_PATH=$HOME/.ssh/my-key

LUKS_ENCRYPTION_KEY="a-plaintext-secure-passphrase"
