[Unit]
Description=Instance Key Generation
DefaultDependencies=no
After=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/evident-keygen
UMask=0077
User=root

[Install]
WantedBy=multi-user.target
