#cloud-config

# based on: https://linuxconfig.org/how-to-write-and-perform-ubuntu-unattended-installations-with-autoinstall
# compliant to: https://canonical-subiquity.readthedocs-hosted.com/en/latest/reference/autoinstall-reference.html
autoinstall:
  version: 1

  # docs: https://canonical-subiquity.readthedocs-hosted.com/en/latest/reference/autoinstall-reference.html#source
  source:
    id: ubuntu-server

  locale: en_US.UTF-8

  keyboard:
    layout: us

  timezone: UTC

  # docs:https://canonical-subiquity.readthedocs-hosted.com/en/latest/reference/autoinstall-reference.html#network
  # and: https://netplan.readthedocs.io/en/latest/netplan-yaml/
  network:
    version: 2
    ethernets:
      enp0s3:
        dhcp4: true

  identity:
    username: {{ identity.username }}
    hostname: {{ identity.hostname }}
    password: {{ identity.passwd_sha512 }}

  ssh:
    install-server: true
    allow-pw: false
    authorized-keys:
{%- for pub_key in ssh_keys %}
      - {{ pub_key }}
{% endfor %}

  packages:
    - secure-delete
    - cryptsetup
{%- for pkg in initial_packages %}
    - {{ pkg }}
{%- endfor %}

  storage:
    config:
      # DISKS
      - id: disk0
        type: disk
        wipe: superblock-recursive
        preserve: false
        ptable: gpt
      
      # EFI Partition
      ## Partition
      - id: efi-part
        type: partition
        device: disk0
        offset: 1048576
        size: 600M
        flag: boot
        grub_device: true
      
      ## Filesystem
      - id: efi-fs
        type: format
        volume: efi-part
        fstype: fat32

      ## Auto-mount
      - id: efi-mount
        type: mount
        device: efi-fs
        path: /boot/efi

      # /boot Partition
      ## Partition
      - id: boot-part
        type: partition
        device: disk0
        size: 1G

      ## Filesystem
      - id: boot-fs
        type: format
        volume: boot-part
        fstype: ext4

      ## Auto-mount      
      - id: boot-mount
        type: mount
        device: boot-fs
        path: /boot
      
      # Confidential Partition
      ## Partition
      - id: confidential-part
        type: partition
        device: disk0
        size: {{ partitions.confidential.size }}
      
      ## Note: the confidential partition will be configured upon successful OS installation

      # Root Partition
      ## Partition
      - id: root-part
        type: partition
        device: disk0
        size: -1

      ## Volume Group
      - id: root-vg
        type: lvm_volgroup
        name: root-vg
        devices:
          - root-part

      ## Logical Volume
      - id: root-lv
        type: lvm_partition
        name: root-lv
        volgroup: root-vg
        size: -1
      
      ## Filesystem
      - id: root-fs
        type: format
        volume: root-lv
        fstype: ext4
      
      ## Mount
      - id: root-mount
        type: mount
        device: root-fs
        path: /

  shutdown: reboot

  late-commands:
    - curtin in-target --target=/target -- systemctl enable ssh
    - curtin in-target --target=/target -- systemctl start ssh
{%- for late_cmd in late_commands %}
    - curtin in-target --target=/target -- {{ late_cmd }}
{%- endfor %}
