gcp_project       = "<your-project-id>"
gce_image_base_id = "<id-for-cvm-compatible-image-with-evident-server>"
aws_instance_type = "m6a.large"
ec2_image_base_id = "ami-0f55163189cbaa1233"
ec2_image_base_version_file = "../../uplosi/aws/image.version"
ec2_image_base_expected_pcrs_file = "../../uplosi/aws/image.pcrs"
